/* Couleurs de base */
:root {
  --main-color: #3e3e3e;
  /* Couleur principale */
  --secondary-color: #7d7d7d;
  /* Couleur secondaire */
  --background-color: #d4af37;
  /* Couleur de fond */
  --border-color: #ffa500;
  /* Couleur de bordure */
  --shadow-color: #ff5733;
  /* Couleur d'ombre */
  --font-family: Helvetica, Arial, sans-serif;
  /* Police de caractères */
}

/* ============================ TITRES ============================ */
h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  border: #eaeaea 2px solid;
  background-color: #ffffff;
  border-radius: 8px;
  max-width: 150vh;
  width: 140vh;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  padding: 12px;
  margin-bottom: 40px;
  margin-top: 40px;
}

/* ============================ ANNONCE TITRE ============================ */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100vh;
}

.annonce-titre {
  color: #993800;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.annonce-titre:hover {
  color: black;
}

/* ============================ ANNONCES LIST ============================ */
.annonces {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 12px;
  padding: 20px;
}

.liste_annonce {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 800px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.heart-icon.filled {
  color: red;
}

.annonce-actions {
  display: flex;
  justify-content: space-between;
}

.anonnce-item {
  background-color: #ffcd8f;
  padding: 5px 15px 20px 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin: 0 5px 5px 5px;
  width: 210px;
  height: 230px;
  margin: 10px;
}

.top-annonce {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 5px;
}

.supprimer {
  margin-left: 5px;
}

.annonce-ajout {
  margin: 0;
  margin-left: 15px;
  font-size: 14px;
  color: #666666;
}

.modifier,
.supprimer {
  /* color: #ffa500; */
  color: #585858;
  font-size: 18px;
  cursor: pointer;
}

.supprimer:hover {
  text-decoration: line-through;
}

.annonces li:last-child {
  border-bottom: none;
}

.annonces li a {
  text-decoration: none;
  font: normal Roboto, sans-serif;
}

.annonces li p:last-child {
  margin-bottom: 0;
}

.annonce_flag_verif {
  color: green;
}

.annonce_flag_no_verif {
  color: red;
}

.image {
  flex: 1;
  margin-right: 15px;
}

.container-image {
  border: #000000 1px solid;
  height: 120px;
}

.image img {
  margin-top: 10px;
  width: 100px;
  height: 75px;
}

.annonce_description,
.annonce_lieu {
  font: Helvetica, arial;
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
  margin: 5px 0;
}

.annonce_prix {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
  margin-right: 10px;
}

.annonce_prix_satoshi {
  display: flex;
  align-items: center;
}

.modifier:active,
.supprimer:active {
  box-shadow: 0 2px #000000;
  transform: translateY(3px);
  /* Effet de pression */
}

.annonce-flag-text {
  font-size: 12px;
  margin: 0;
}

.annonce-lieu {
  font-size: 18px;
  margin: 0;
  color: #7d7d7d;
}

/* COEUR */

.heart_fav {
  width: 9%;
  height: 10%;
}

.heart_fav:hover {
  transition: 50ms;
  width: 10%;
  height: 11%;
}

/* ==================================================================================== */

@media screen and (max-width: 1024px) {
  .annonce {
    width: calc(33.33% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .annonce {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .annonce {
    width: 100%;
  }
}