<div class="container">
  <h2 class="titre_page_annonces">Liste des annonces</h2>
  <div class="annonces">
    <ul class="liste_annonce">
      <li *ngFor="let annonce of annonces" class="annonce">
        <!-- <div class="top-annonce">
          <p class="annonce-ajout"><i>Ajoutée par : </i><b>{{ annonce.ajouter_par }}</b></p>
        </div> -->
        <div class="anonnce-item">
          <div class="annonce-actions">
            <img class="heart_fav" *ngIf="isFavorite" src="../../assets/icons/heart15.png" (click)="toggleFavorite(annonce._id)">
            <img class="heart_fav" *ngIf="!isFavorite" src="../../assets/icons/heart222.png" (click)="toggleFavorite(annonce._id)">
            <div class="delete_update">
              <a class="modifier"  *ngIf="!isUser" [routerLink]="['/modifier_annonce', annonce._id]"><i class="fa-regular fa-pen-to-square"></i></a>
              <a class="supprimer" *ngIf="!isUser" (click)="deleteAnnonce(annonce._id)"><i class="fa-regular fa-trash-can"></i></a>
            </div>
          </div>
            <div class="container-image">
              <div class="image" *ngIf="isArray(annonce.image) && annonce.image.length > 0">
                <!-- <img [src]="sanitizer.bypassSecurityTrustUrl("C:/Users/emdut/Desktop/BITLISTER/NodeJS/front/public/images" + annonce.image[0])" alt=""> -->
                <img src="../../../../../NodeJS_Express_MongoDB/back/public/uploads/{{ annonce.image[0] }}" alt="image_annonce">
              </div>
            </div>
            
          <div class="annonce-header">
            <a [routerLink]="['/une_annonce', annonce._id]" class="annonce-link">
              <h3 class="annonce-titre">{{ annonce.titre }}</h3>
            </a>
          </div>
          <!-- <p class="annonce-description">{{ annonce.description }}</p> -->
          <div class="annonce-footer">
            <div class="annonce_prix_satoshi">
              <p  class="annonce_prix">     {{ annonce.prix }}</p>
              <img src="../../assets/icons/Satoshi-symbol.png">
            </div>
            <div class="annonce-details">
              <p class="annonce-lieu">France, {{ annonce.lieu }}</p>
              <!-- <div class="annonce-flag">
                <p class="annonce-flag-text" *ngIf="annonce.flag">Annonce vérifiée</p>
                <p class="annonce-flag-text" *ngIf="!annonce.flag">Annonce non vérifiée</p>
              </div> -->
            </div>
          </div>
        </div>
      </li>
    </ul>
</div>
</div>

