<h2>Liste des annonces</h2>

<div class="annonces">
    <ul>
      <li *ngFor="let annonce of annonces">
        <h3>{{ annonce.titre }}</h3>
        <p>{{ annonce.description }}</p>
        <p>{{ annonce.lieu }}</p>
        <p>{{ annonce.prix }}</p>
        <p *ngIf="annonce.flag">Annonce vérifiée</p>
        <p *ngIf="!annonce.flag">Annonce non vérifiée</p>
        <a [routerLink]="['/modifier_annonce', annonce._id]" class="modifier">Modifier</a>
        <a href="/supprimer_annonce/id" class="supprimer">Supprimer</a>
      </li>
    </ul>
</div>