body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f1f1f1;
  color: #333;
}

.header {
  background-color: #ff6b6b;
  color: #fff;
  padding: 20px;
}

.header h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.annonces {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
}

h2 {
  background-color: #ff6b6b;
  color: #fff;
  padding: 10px;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.annonces ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.annonces li {
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 15px;
}

.annonces li:last-child {
  border-bottom: none;
}

.annonces li h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #ff6b6b;
}

.annonces li p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.annonces li a {
  text-decoration: none;
  font: normal Roboto, sans-serif;
}

.annonces li p:last-child {
  margin-bottom: 0;
}

.annonces li p.verified {
  color: green;
}

.annonces li p.not-verified {
  color: red;
}

.form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
}

.form label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.form input[type="text"],
.form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.form button {
  background-color: #ff6b6b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.form button:hover {
  background-color: #e55d5d;
}

.supprimer {
  background-color: #b50405; /* Couleur rouge */
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 25px; /* Bords arrondis */
  box-shadow: 0 5px #df0101; /* Relief */
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 5px;
}

.modifier {
  background-color: #4caf50; /* Couleur verte */
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 25px; /* Bords arrondis */
  box-shadow: 0 5px #2e8b57; /* Relief */
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Animation de transition */
  margin: 5px;
}

.modifier:hover {
  background-color: #3e8e41; /* Couleur verte foncée au survol */
  box-shadow: 0 5px #2e8b57;
}

.supprimer:hover {
  background-color: #b50405; /* Couleur rouge foncée au survol */
  box-shadow: 0 5px #df0101;
}

.modifier:active {
  background-color: #2e6f34; /* Couleur verte foncée au clic */
  box-shadow: 0 2px #2e8b57;
  transform: translateY(3px); /* Effet de pression */
}

.supprimer:active {
  background-color: #df0101; /* Couleur rouge foncée au clic */
  box-shadow: 0 2px #df0101;
  transform: translateY(3px); /* Effet de pression */
}
