/* Couleurs de base */
:root {
  --color-primary: #abc270;
  --color-secondary: #fec868;
  --color-tertiary: #fda769;
  --color-text: #473c33;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f1f1f1;
  color: #473c33;
}

/* ============== TITRES ============== */
h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  background-color: #fec868;
  color: #473c33;
  text-transform: uppercase;
  padding: 10px;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

/* ============== ANNONCES ============== */

.annonces {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
}

.annonces ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.annonces li {
  border: 2px solid #ddd;
  background-color: #fda769;
  padding: 25px;
  border-radius: 15px;
}

.annonces li:last-child {
  border-bottom: none;
}

.annonces li a {
  text-decoration: none;
  font: normal Roboto, sans-serif;
}

.annonces li p:last-child {
  margin-bottom: 0;
}

.annonce_flag_verif {
  color: green;
}

.annonce_flag_no_verif {
  color: red;
}

.annonce_titre {
  color: #473c33;
  margin: 0;
  font-size: 22px;
  font-weight: bolder;
}

.annonce_titre:hover {
  color: #fec868;
  text-decoration: underline;
}

.annonce_description,
.annonce_lieu {
  font: Helvetica, arial;
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
  margin: 5px 0;
}

.annonce_prix {
  font-size: 25px;
  font-weight: bold;
  margin: 5px 0;
  margin-right: 10px;
}

.annonce_prix_satoshi {
  display: flex;
  align-items: center;
}

.form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
}

.supprimer {
  background-color: #b50405; /* Couleur rouge */
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 25px; /* Bords arrondis */
  box-shadow: 0 5px #df0101; /* Relief */
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 5px;
}

.modifier {
  background-color: #4caf50; /* Couleur verte */
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 25px; /* Bords arrondis */
  box-shadow: 0 5px #2e8b57; /* Relief */
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Animation de transition */
  margin: 5px;
}

.modifier:hover {
  background-color: #3e8e41; /* Couleur verte foncée au survol */
  box-shadow: 0 5px #2e8b57;
}

.supprimer:hover {
  background-color: #b50405; /* Couleur rouge foncée au survol */
  box-shadow: 0 5px #df0101;
}

.modifier:active {
  background-color: #2e6f34; /* Couleur verte foncée au clic */
  box-shadow: 0 2px #2e8b57;
  transform: translateY(3px); /* Effet de pression */
}

.supprimer:active {
  background-color: #df0101; /* Couleur rouge foncée au clic */
  box-shadow: 0 2px #df0101;
  transform: translateY(3px); /* Effet de pression */
}
