<footer class="footer">
    <div class="container">
      <div class="footer-columns">
        <div class="footer-column">
          <h3 class="footer-heading">Liens utiles</h3>
          <ul class="footer-links">
            <li><a routerLink="/join_us" class="footer-link">Nous rejoindre ?</a></li>
            <li><a href="#" class="footer-link">Nos engagements</a></li>
            <li><a href="#" class="footer-link">Vie privée, vos données</a></li>
            <li><a href="#" class="footer-link">Publicité ? LOL</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3 class="footer-heading">Aidez nous :</h3>
          <ul class="footer-social">
            <li><a href="https://github.com/dutss" class="footer-social-link"><i class="fab fa-github"></i></a></li>
            <li><a href="https://twitter.com/DecouvreBitcoin" class="footer-social-link"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p class="footer-text">&copy; 2023 BitLister. Tous droits réservés.</p>
        <button mat-raised-button class="donate-btn" (click)="openPopup()">
          <span class="donate-text">Donate</span>
          <img src="../../assets/icons/Bitcoin.svg" class="donate-icon" alt="Bitcoin Icon">
          </button>
      </div>
    </div>
</footer>