<h2>Votre profil : {{ user.pseudo }}</h2>
<div class="container">
    <form class="user-form">
        <div class="form-group">
          <label for="profile-pic"><i class="fas fa-user-circle"></i>Pseudo</label>
          <input type="text" class="form-control" id="location" [(ngModel)]="user.pseudo" name="location">
            <label for="profile-pic"><i class="fas fa-user-circle"></i>Photo de profil</label>
            <input type="file" class="form-control-file" id="profile-pic" name="profile-pic">
        </div>
        <div class="form-group">
          <h3>Paramètres de paiement</h3>
          <div class="detail-label">Moyen de paiement:
            <label for="BTC">BTC</label>
            <input type="checkbox" name="BTC" value="BTC">
            <label for="shitcoin">Shitcoin</label>
            <input type="checkbox" name="shitcoin" value="Shitcoin">
          </div>
        </div>
      <div class="form-group">
        <label for="location"><i class="fas fa-map-marker-alt"></i> Lieu</label>
        <input type="text" class="form-control" id="location" [(ngModel)]="user.lieu" name="location">
        <div class="invalid-feedback">Veuillez saisir un lieu valide.</div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="onSubmit()"><i class="fas fa-save"></i> Modifier</button>
      <div class="success-feedback">Les modifications ont été enregistrées avec succès.</div>
    </form>
</div>