h2 {
  background-color: #fec868;
  color: #473c33;
  text-transform: uppercase;
  padding: 10px;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

:root {
  --main-color: #3e3e3e; /* Couleur principale */
  --secondary-color: #7d7d7d; /* Couleur secondaire */
  --background-color: #d4af37; /* Couleur de fond */
  --border-color: #ffa500; /* Couleur de bordure */
  --shadow-color: #ff5733; /* Couleur d'ombre */
  --font-family: Helvetica, Arial, sans-serif; /* Police de caractères */
}

/* ============== ANNONCES ============== */

.annonces {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
}

.annonces ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.liste_annonce {
  display: flex;
  flex-wrap: wrap;
}

.annonces li {
  border: 2px solid #ddd;
  background-color: #000000;
  padding: 15px;
  border-radius: 15px;
  max-width: 400px; /* ou toute autre valeur appropriée */
  margin: 10px; /* pour donner de l'espace entre les annonces empilées */
}

.annonces li p {
  color: #ffa500;
}

.annonces li:last-child {
  border-bottom: none;
}

.annonces li a {
  text-decoration: none;
  font: normal Roboto, sans-serif;
}

.annonces li p:last-child {
  margin-bottom: 0;
}

.annonce_flag_verif {
  color: green;
}

.annonce_flag_no_verif {
  color: red;
}

.annonce_titre {
  color: #ffa500;
  margin: 0;
  font-size: 22px;
  font-weight: bolder;
}

.annonce_titre:hover {
  color: #ff6000;
  text-decoration: underline;
}

.annonce_description,
.annonce_lieu {
  font: Helvetica, arial;
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
  margin: 5px 0;
}

.annonce_prix {
  font-size: 25px;
  font-weight: bold;
  margin: 5px 0;
  margin-right: 10px;
}

.annonce_prix_satoshi {
  display: flex;
  align-items: center;
}

.form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
}

.supprimer {
  background-color: #8e0000; /* Couleur rouge */
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 25px; /* Bords arrondis */
  box-shadow: 0 5px #df0101; /* Relief */
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 5px;
}

.modifier {
  background-color: #005807; /* Couleur verte */
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 25px; /* Bords arrondis */
  box-shadow: 0 5px #2e8b57; /* Relief */
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Animation de transition */
  margin: 5px;
}

.modifier:hover {
  background-color: #3e8e41; /* Couleur verte foncée au survol */
  box-shadow: 0 5px #005807;
}

.supprimer:hover {
  background-color: #b50405; /* Couleur rouge foncée au survol */
  box-shadow: 0 5px #8e0000;
}

.modifier:active {
  background-color: #2e6f34; /* Couleur verte foncée au clic */
  box-shadow: 0 2px #2e8b57;
  transform: translateY(3px); /* Effet de pression */
}

.supprimer:active {
  background-color: #df0101; /* Couleur rouge foncée au clic */
  box-shadow: 0 2px #df0101;
  transform: translateY(3px); /* Effet de pression */
}

.btn-comment {
  background-color: #0088cc;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 10px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-input {
  padding: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 16px;
}

.comment-submit {
  background-color: #0088cc;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.commentaire_li {
  width: 250px;
  padding: 0;
}

.commentaire {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.commentaire-texte {
  padding: 8px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}

.modifier_comm,
.supprimer_comm {
  margin-left: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.commentaire-auteur {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentaire-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poster_par {
  font-weight: normal !important;
  font-size: 14px !important;
}
