div .container-global {
  border-radius: 25px;
}

.container-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.my-custom-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.my-custom-content {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.my-custom-actions {
  display: flex;
  justify-content: flex-end;
}

img {
  margin-top: 20px;
}

.close {
  background-color: #ff9831;
  color: #fff;
  border-radius: 25px;
  padding: 4px 8px;
  font-weight: bolder;
  border: 0px;
  margin: 10px;
  box-shadow: rgb(62, 62, 62) 0px 0px 5px;
}

.close:hover {
  background-color: #ff7f00;
  color: #fff;
}