.container-global {
  background-color: #ff7f00;
  border-radius: 25px !important;
}

.container-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* BOUTON FERMER LA POPUP */
.my-custom-actions {
  display: flex;
  justify-content: flex-end;
}

.my-custom-actions i {
  box-shadow: rgb(62, 62, 62) 0px 0px 5px;
  border-radius: 25px;
  color: #ff7f00;
  font-size: 36px;
  margin: 10px;
}

.my-custom-actions i:hover {
  cursor: pointer;
  background-color: #ff7f00;
  color: #ffffff;
}

img {
  margin-top: 20px;
}