.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  flex-grow: 1;
}

.navbar-logo a {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-logo img {
  height: 40px;
  margin-right: 10px;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-link {
  margin-right: 20px;
}

.navbar-link a {
  display: block;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navbar-link a:hover {
  color: #007bff;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 32px;
  border-radius: 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.5px;
}

.btn-primary {
  background-color: #f7931a;
  color: #fff;
  border: none;
  margin-right: 10px;
}

.btn-primary:hover {
  background-color: #ff6000;
  transform: translateY(-2px);
}

.btn-secondary {
  background-color: #2f1200;
  color: #fff;
  border: none;
}

.btn-secondary:hover {
  background-color: #37312d;
  transform: translateY(-2px);
}

.donate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 32px;
  border-radius: 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.5px;
  background-color: #f7931a;
  color: #fff;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.donate-btn:hover {
  background-color: #fbb32d;
  transform: translateY(-2px);
}

.donate-text {
  margin-right: 10px;
}

.donate-icon {
  width: 16px;
  height: 16px;
}

.mode-switch {
  position: relative;
  width: 90px;
  height: 30px;
  border: 2px solid black;
  border-radius: 20px;
}

.mode-switch-checkbox {
  display: none;
}

.mode-switch-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.mode-switch-label:hover {
  background-color: #444;
}

.mode-switch-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
}

.mode-switch-icon.sun {
  left: 10px;
  background-image: url("src/assets/icons/sun81.png");
}

.mode-switch-icon.moon {
  right: 10px;
  background-image: url("src/assets/icons/moon25.png");
}

.mode-switch-checkbox:checked ~ .mode-switch-label {
  background-color: #ff9800;
}

.mode-switch-checkbox:checked ~ .mode-switch-label .mode-switch-icon.sun {
  transform: translateX(30px);
}

.mode-switch-bg {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.mode-switch-bg {
  transform: translateX(-70px);
}

.mode-switch-checkbox:checked ~ .mode-switch-bg {
  background-color: #333;
}
