<nav class="navbar">
  <div class="navbar-logo">
    <a href="/">Logo</a>
  </div>
  <ul class="navbar-links">
    <li class="navbar-link"><a routerLink="/ajouter_annonce">Ajouter une annonce</a></li>
    <li class="navbar-link"><a routerLink="/annonces">Annonces</a></li>
    <li class="navbar-link"><a routerLink="/about">A propos</a></li>
  </ul>
  <div class="navbar-buttons">
    <a *ngIf="!isAuthenticated()" routerLink="/login" class="btn btn-primary">Connexion</a>
    <a *ngIf="isAuthenticated()" class="btn btn-primary" (click)="onSubmit()">Se déconnecter</a>
    <a *ngIf="!isAuthenticated()" routerLink="/signup" class="btn btn-secondary">Inscription</a>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <button mat-raised-button (click)="openPopup()">Donate
    <img src="../../assets/icons/Bitcoin.svg" colors="orange" width="16" height="16">
  </button>
</footer>