<nav class="navbar">
  <div class="navbar-logo">
    <a href="/">Logo</a>
  </div>
  <ul class="navbar-links">
    <li class="navbar-link"><a routerLink="/ajouter_annonce">Ajouter une annonce</a></li>
    <li class="navbar-link"><a routerLink="/annonces">Annonces</a></li>
    <li class="navbar-link"><a routerLink="/about">A propos</a></li>
  </ul>
  <div class="navbar-buttons">
    <a routerLink="/login" class="btn btn-primary">Connexion</a>
    <a routerLink="/signup" class="btn btn-secondary">Inscription</a>
  </div>
</nav>

<router-outlet></router-outlet>
