.container-footer,
.container-profil {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  margin-top: 25px;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-header,
.profile-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: #ffffff 1px solid;
  border-radius: 25px;
  box-shadow: rgb(118, 118, 118) 0px 0px 5px;
  padding: 25px;
  margin: 10px;
}

.btn-image {
  border-radius: 50%;
  font-weight: bolder;
  box-shadow: #6c757d 0px 0px 5px;
}

.profile-header {
  width: 600px;
}

.profile-footer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: #ffffff 1px solid;
  border-radius: 25px;
  box-shadow: rgb(118, 118, 118) 0px 0px 5px;
  padding: 25px;
  max-width: 200px;
  width: 210px;
  height: 200px;
  margin: 10px;
}

.btn-container a {
  text-decoration: none;
  color: #3f3f3f;
}


.btn-gestion-annonce {
  border-radius: 25px;
  padding: 20px;
  box-shadow: #6c757d 0px 0px 5px;
}

.btn-gestion-annonce:hover {
  cursor: pointer;
}


.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  margin-left: 20px;
}

.profile-info h2 {
  margin: 0;
  font-size: 32px;
}

.btn-container {
  margin: 10px;
}

.btn {
  background-color: #dc3545;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
}

.btn-secondary {
  background-color: #6c757d;
}

.detail h3 {
  margin: 0;
  font-size: 18px;
  margin-bottom: 10px;
}

.detail-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.detail-label {
  font-weight: bold;
  margin-right: 5px;
}

.detail-value {
  font-style: italic;
}

i {
  margin-right: 7px;
}

.btn-gestion-annonce {
  width: 250px;
  height: 220px;
}