<main>
    <section id="hero">
      <div class="hero-text">
        <h1>Echangez vos Bitcoin en toute sécurité</h1>
        <p>BitLister est la première plateforme d'échange en ligne où vous pouvez rencontrer d'autres personnes pour échanger vos Bitcoin. Profitez de la sécurité d'un réseau décentralisé et résilient pour échanger vos fonds en toute confiance.</p>
        <a routerLink="/signup" class="cta-button">Créer votre compte</a>
      </div>
    </section>

      <section id="why-bitcoin">
        <h2>Pourquoi Bitcoin ?</h2>
        <p>Le Bitcoin est une monnaie numérique décentralisée qui vous permet de réaliser des transactions en toute sécurité et en toute confidentialité. Grâce à la technologie de la blockchain, vous pouvez acheter et vendre des biens et des services sans avoir à faire appel à un tiers de confiance, comme une banque ou un processeur de paiement. De plus, les frais de transaction sont souvent beaucoup moins élevés que ceux des systèmes de paiement traditionnels.</p>
        <a routerLink="/about" class="cta-button">En savoir plus</a>
      </section>

      <section id="how-it-works">
        <h2>Comment ça marche ?</h2>
        <ol>
          <li>Créez un compte BitLister en quelques minutes.</li>
          <li>Consultez les annonces disponibles pour trouver une personne avec qui échanger vos Bitcoin.</li>
          <li>Rencontrez-vous pour échanger vos fonds en toute sécurité.</li>
          <li>Vous pouvez ensuite les utiliser pour acheter d'autres biens et services sur BitLister.</li>
        </ol>
        <a routerLink="/signup" class="cta-button">Créer un compte</a>
      </section>
</main>