.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1e22;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  font-size: 24px;
}

.chat-header h3 {
  margin: 0;
}

.chat-messages {
  height: 300px; /* ou une autre hauteur fixe */
  overflow: scroll;
  padding: 10px;
}

.chat-messages ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.messages-list {
  display: flex;
  flex-direction: column-reverse;
}

.chat-messages .flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.message {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  line-height: 1.4;
}

.message-sent {
  align-self: flex-end;
  background-color: #1c1e22;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}

.chat-input {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-input input[type="text"] {
  flex: 1;
  border: none;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 20px;
  margin-right: 10px;
}

.chat-input button {
  background-color: #1c1e22;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-input button:hover {
  background-color: #131416;
}
