<div class="chat-container">
  <div class="chat-header">
    <h3>Chat</h3>
    <p>{{roomId}}</p>
  </div>
  <div class="chat-messages">
    <ul class="flex-column-reverse" *ngFor="let msg of messages">
      <li  class="message-container">
        <div class="message">{{msg.text}}</div>
      </li>
    </ul>
    <div *ngIf="lastMessageSent" class="message-sent">{{lastMessageSent}}</div>
  </div>
  <div class="chat-input">
    <input type="text" placeholder="Type your message" [(ngModel)]="message" (keydown.enter)="sendMessage()">
    <button (click)="sendMessage()">Send</button>
  </div>
</div>