.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 400px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  /* background-color: #f5f5f5; */
  background-color: #eef0f1;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  background-color: #2ecc71;
  color: #fff;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #27ae60;
}

.errorMsg {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
